* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(150, 148, 148);
}

.container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6, 50px);
    gap: 10px;
    border: 1px solid yellow;
    grid-template-areas: "item-1 item-2 . ."
    "item-3 item-3 item-3 item-3" "item-4 item-4 item-4 item-4" ". item-5 item-5 ." "item-6 item-6 item-6 item-6" "item-7 item-7 item-8 item-9";
    border: solid 2px greenyellow;
    grid-area: item-1;
}
.item-1 {
    background-color: red;
    border: solid 2px greenyellow;
    grid-area: item-1;
}
.item-2 {
    background-color: #00FF00;
    border: solid 2px greenyellow;
    grid-area: item-2;
}

.item-3 {
    background-color:  #0000FF;
    border: solid 2px greenyellow;
    grid-area: item-3;
}

.item-4 {
    background-color: #FFFF00;
    border: solid 2px greenyellow;
    grid-area: item-4;
}

.item-5 {
    background-color: #00FFFF;
    border: solid 2px greenyellow;
    grid-area: item-5;
}

.item-6 {
    background-color: #FF00FF;
    border: solid 2px greenyellow;
    grid-area: item-6;
}

.item-7 {
    background-color: #000000;
    border: solid 2px greenyellow;
    grid-area: item-7;
}

.item-8 {
    background-color: #FFFFFF;
    border: solid 2px greenyellow;
    grid-area: item-8;
}

.item-9 {
    background-color: #808080;
    border: solid 2px greenyellow;
    grid-area: item-9;
}
